html {
  margin: 0 auto;
}

body {
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 0.00009em;
}

.index {
  background: url(https://images.pexels.com/photos/1534172/pexels-photo-1534172.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.topbar {
  width: 100%;
}

.nav {
  background-color: #293B3D;
}

.nav a {
  color: #E1E6DA;
  font-size: 0.8em;
}

.jumbotron {
  min-width: 400px;
  max-width: 50%;
  margin: 4rem auto;
  background-color: rgba(220, 212, 194, 0.8);
  letter-spacing: 0.009999rem;
}

.btn {
  background-color: rgba(123, 134, 103, 0.7);
  border: none;
  color: rgb(220, 212, 194);
}

.btn:hover {
  background-color: rgba(123, 134, 103, 0.9);
  color: rgb(220, 212, 194);
}

.principles {
  background-color: #E1E6DA;
}

h1 {
  font-weight: 500;
  text-shadow: 0.5px 0.5px #79975E;
}

.heading {
  text-align: center;
  padding-top: 2em;
}

p {
  font-weight: 300;
}

h2 {
  font-style: italic;
}

.aesthetic ul {
  list-style: url(flower2.svg);
  font-weight: 300;
}

.philosophyMain {
  padding: 3rem;
}

.lookbook {
  background-color: #E1E6DA;
  text-align: center;
}

.typeface {
  background-color: #E1E6DA;
}

.lobster {
  font-family: 'Lobster';
}

.oswald {
  font-family: 'Oswald';
}


.colours {
  background-color: #E1E6DA;
}

.green1 {
  background-color: #698A48;
}

.green2 {
  background-color: #62A044;
}

.green3 {
  background-color: #8FD16A;
}

.green4 {
  background-color: #C2E692;
}

.blue1 {
  background-color: #3F526F;
}

.blue2 {
  background-color: #3A557C;
}

.blue3 {
  background-color: #699CC6;
}

.blue4 {
  background-color: #97C1DF;
}

.purple1 {
  background-color: #775D7A;
}

.purple2 {
  background-color: #815F87;
}

.purple3 {
  background-color: #A98BB5;
}

.purple4 {
  background-color: #D0B7D5;
}

.pink1 {
  background-color: #CB507F;
}

.pink2 {
  background-color: #DE5487;
}

.pink3 {
  background-color: #E36F9B;
}

.pink4 {
  background-color: #ECADC7;
}

.neutral1 {
  background-color: #2D2A29;
}

.neutral2 {
  background-color: #363434;
}

.neutral3 {
  background-color: #565657;
}

.neutral4 {
  background-color: #A5A5A6;
}

